*
{
   margin: 0;
   padding: 0;
}

header
{
    background-image: url(images/sautisol.jpg) ;
    height: 150vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


.hero:hover {
    background-color:black;
  }



.hero

h1
{
    color:brown ;
    text-transform: uppercase;
    text-align: left;
    font-size: 70;
    margin-top: 100px;

}



body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  
  
  .column {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  
  
  
  
  .container {
    padding: 0 16px;
  }
  
  
  
  
  .title {
    color:  green;
  }
  
  
  
  

  
      


    


  
  ul {
    color: black;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    text-align: left;
}


  

  




