*
{
   margin: 0;
   padding: 0;
}

header
{
    background-image: url(images/sautisol.jpg) ;
    height: 150vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 10px;

}
body {
    background-color: rgb(228, 227, 240);
    margin: 5% 10% 20% 5%;
    padding:20px ;
    border-style: solid;
    font-size: 18px;
    font-family: sans-serif
  }

.hero:hover {
    background-color:black;
  }



.hero

h1
{
    color:brown ;
    text-transform: uppercase;
    text-align: center;
    font-size: 70;
    margin-top: 100px;

}



body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  
  
  .column {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  
  
  
  
  .container {
    padding: 0 16px;
  }
  
  
  
  
  .title {
    color:brown;
  }

  #footer {
    text-align: center;    

  }

  



  

  




